<div
  class="fixed lg:relative lg:block h-full md:rounded-xl bg-white bg-clip-border p-4 text-gray-700 shadow-xl shadow-blue-gray-900/5"
  [ngClass]="{ 'w-60 lg:w-full': !isSidebarHidden, 'w-16': isSidebarHidden }"
>
  @if (isSidebarHidden) {
  <div>
    <div role="button" class="mb-6 text-center" (click)="toogleSideBar()">
      <i class="fa fa-bars fa-lg"></i>
    </div>
    <div role="button" routerLink="/customer" class="mb-6 text-center">
      <i class="fa fa-users fa-lg"></i>
    </div>
    <div role="button" routerLink="/item" class="mb-6 text-center">
      <i class="fa fa-cube fa-lg"></i>
    </div>
    <div role="button" routerLink="/order" class="mb-6 text-center">
      <i class="fa fa-cart-shopping fa-lg"></i>
    </div>
  </div>
  } @else {
  <div class="p-4 mb-2 flex justify-between">
    <h5
      class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900"
    >
      Sidebar
    </h5>
    <button (click)="toogleSideBar()" class="lg:hidden">
      <i class="fa fa-close fa-lg"></i>
    </button>
  </div>
  <nav
    class="flex w-full flex-col gap-1 p-2 font-sans text-base font-normal text-blue-gray-700"
  >
    <div
      role="button"
      class="flex items-center p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900"
      routerLink="/customer"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <div class="grid mr-4 place-items-center">
        <i class="fa fa-users fa-lg"></i>
      </div>
      Customer
    </div>
    <div
      role="button"
      class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900"
      routerLink="/item"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <div class="grid mr-4 place-items-center">
        <i class="fa fa-cube fa-lg"></i>
      </div>
      Item
    </div>
    <div
      role="button"
      class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-blue-gray-50 hover:bg-opacity-80 hover:text-blue-gray-900 focus:bg-blue-gray-50 focus:bg-opacity-80 focus:text-blue-gray-900 active:bg-blue-gray-50 active:bg-opacity-80 active:text-blue-gray-900"
      routerLink="/order"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <div class="grid mr-4 place-items-center">
        <i class="fa fa-shopping-cart fa-lg"></i>
      </div>
      Order
    </div>
  </nav>
  }
</div>

<!-- Script untuk toggle sidebar -->
<script>
  function toggleSidebar() {
    document.querySelector(".fixed").classList.toggle("hidden");
  }
</script>
