<div class="content-container">
  <div class="flex flex-col md:flex-row justify-between align-middle">
    <h1 class="page-title">Order</h1>
    <button (click)="openAddFormDialog()" class="btn-add h-fit mb-5 md:mb-0">
      + Add New
    </button>
  </div>
  <div class="overflow-x-auto">
    <table class="table-auto w-full">
      <thead>
        <tr class="bg-slate-700 text-slate-50">
          <th class="py-6">Name</th>
          <th>Availability</th>
          <th>Stock</th>
          <th>Price</th>
          <th>Last Restock date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items; track $index) {
        <tr class="text-center p-80 odd:bg-slate-100">
          <td class="py-8">{{ item.itemName }}</td>
          <td class="py-8">
            {{ item.isAvailable ? "Available" : "Not Available" }}
          </td>
          <td class="py-8">{{ item.stock }}</td>
          <td class="py-8">{{ item.price }}</td>
          <td class="py-8">{{ item.lastReStock }}</td>
          <td class="py-8">
            <div>
              <button (click)="openEditFormDialog(item)" class="btn-edit">
                Edit
              </button>
              <button (click)="openDialog(item)" class="btn-delete">
                Delete
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Confirmation Dialog Overlay -->
<div *ngIf="isConfirmDialogOpen" class="overlay">
  <app-dialog-confimation
    (cancelEvent)="closeDialog()"
    (confirmDeleteEvent)="deleteItem()"
  ></app-dialog-confimation>
</div>

<!-- Add Form Dialog -->
@if (isAddItemFormOpen) {
<div class="overlay">
  <div class="relative bg-white p-6 rounded-md shadow-lg max-w-md w-full">
    <h2 class="text-xl font-semibold mb-4 text-center">Add New Item</h2>
    <button (click)="closeAddFormDialog()" class="absolute right-4 top-4">
      <i class="fa fa-close fa-lg"></i>
    </button>
    <form (ngSubmit)="onAddFormSubmit()" #addForm="ngForm">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input
          ngModel
          #itemName="ngModel"
          type="text"
          id="itemName"
          name="itemName"
          placeholder="Enter Item Name"
          required
          maxlength="255"
        />
        @if (itemName.invalid && itemName.touched) {
        <div *ngIf="itemName.errors?.['required']" class="text-red-500">
          Item Name is required.
        </div>
        }
      </div>
      <div class="form-group">
        <label for="itemStock">Item Stock</label>
        <input
          ngModel
          #itemStock="ngModel"
          type="number"
          id="itemStock"
          name="itemStock"
          placeholder="Enter Item Stock"
          required
        />
        @if (itemStock.invalid && itemStock.touched) {
        <div *ngIf="itemStock.errors?.['required']" class="text-red-500">
          Item Stock is required.
        </div>
        }
      </div>
      <div class="form-group">
        <label for="itemPrice">Item Price</label>
        <input
          ngModel
          #itemPrice="ngModel"
          type="number"
          id="itemPrice"
          name="itemPrice"
          placeholder="Enter Item Price"
          required
        />
        @if (itemPrice.invalid && itemPrice.touched) {
        <div *ngIf="itemPrice.errors?.['required']" class="text-red-500">
          Item price is required.
        </div>
        }
      </div>
      <div class="flex justify-stretch">
        <button
          type="submit"
          [disabled]="addForm.invalid"
          class="btn-add w-full"
        >
          Add New Item
        </button>
      </div>
    </form>
  </div>
</div>
}

<!-- Edit Form Dialog -->
@if (isEditItemFormOpen) {
<div class="overlay">
  <div class="relative bg-white p-6 rounded-md shadow-lg max-w-md w-full">
    <h2 class="text-xl font-semibold mb-4 text-center">Edit Item</h2>
    <button (click)="closeEditFormDialog()" class="absolute right-4 top-4">
      <i class="fa fa-close fa-lg"></i>
    </button>
    <form (ngSubmit)="onEditFormSubmit()" #editForm="ngForm">
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input
          [(ngModel)]="selectedItem.itemName"
          #itemName="ngModel"
          type="text"
          id="itemName"
          name="itemName"
          placeholder="Enter Item Name"
          required
          maxlength="255"
        />
        @if (itemName.invalid && itemName.touched) {
        <div *ngIf="itemName.errors?.['required']" class="text-red-500">
          Item Name is required.
        </div>
        }
      </div>
      <div class="form-group">
        <label for="itemStock">Item Stock</label>
        <input
          [(ngModel)]="selectedItem.stock"
          #itemStock="ngModel"
          type="number"
          id="itemStock"
          name="itemStock"
          placeholder="Enter Item Stock"
          required
        />
        @if (itemStock.invalid && itemStock.touched) {
        <div *ngIf="itemStock.errors?.['required']" class="text-red-500">
          Item Stock is required.
        </div>
        }
      </div>
      <div class="form-group">
        <label for="itemPrice">Item Price</label>
        <input
          [(ngModel)]="selectedItem.price"
          #itemPrice="ngModel"
          type="number"
          id="itemPrice"
          name="itemPrice"
          placeholder="Enter Item Price"
          required
        />
        @if (itemPrice.invalid && itemPrice.touched) {
        <div *ngIf="itemPrice.errors?.['required']" class="text-red-500">
          Item price is required.
        </div>
        }
      </div>
      <div class="form-group">
        <label>Item Price</label>
        <label>
          <input
            [(ngModel)]="selectedItem.isAvailable"
            #itemAvailability="ngModel"
            type="radio"
            name="itemAvailability"
            required
            [value]="true"
            class="radio"
            required
          />
          Available
        </label>
        <label>
          <input
            [(ngModel)]="selectedItem.isAvailable"
            #itemAvailability="ngModel"
            type="radio"
            name="itemAvailability"
            required
            [value]="false"
            class="radio"
          />
          Not Available
        </label>

        @if (itemPrice.invalid && itemPrice.touched) {
        <div *ngIf="itemPrice.errors?.['required']" class="text-red-500">
          Item price is required.
        </div>
        }
      </div>
      <div class="flex justify-stretch">
        <button
          type="submit"
          [disabled]="editForm.invalid"
          class="btn-edit w-full"
        >
          Update Item
        </button>
      </div>
    </form>
  </div>
</div>
}
